.App-header {
  display: flex;
  align-items: center;
  border-bottom: 3px solid #e0354b;
  padding: 20px;
}

.App-header img {
  height: 200px;
}

.App-header h1 {
  color: #e0354b;
  margin-left: 20px;
}

.App-body {
  padding: 40px;
  font-size: 18px;
}

.App-footer {
  border-top: 3px solid #e0354b;
  text-align: center;
  font-style: italic;
  padding: 20px;
}
